<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in messages" type="item-text-wrap">
<!--         <h2>{{ message.from }}</h2> -->
      <div class="row">
        <div class="col-15">
          <h2>{{ message.from }}: </h2>
        </div>
        <div class="col-85" style="margin-left: 1em;">
          </p>{{ message.translated }}</p>
          <p>( {{ message.content }} )</p>
        </div>
      </div>
    <!--     <p>{{ message.content }}</p> -->

      </ion-item>
    </ion-list>
  <!--     live Translate view -->
    <label class="item item-input">
    <input type="text" placeholder="Live Translate" ng-readonly="true" ng-model="liveTranslateView">
    </label>
<!--     live Translate view -->

  </ion-content>

  


  <ion-footer-bar class="bar-stable">
      <div class="item item-input-inset" style="width: 100%;">
        <label class="item-input-wrapper">
          <!--     input field -->
          <input style="width: 100%;" type="text" placeholder="Message" ng-model="input">
          <!--     input field -->
        </label>
        <button ng-click="submitMessage()" class="button button-small">
          Send
        </button>
      </div>
  </ion-footer-bar>
</ion-view>
  <!--     <div class="bar bar-footer">
    <button class="button button-clear">Left</button>
    <div class="title">Title</div>
    <button class="button button-clear">Right</button>
    </div -->
     <!-- <ion-content>
    <div class="list">
        <label class="item item-input">
           <input type="text" placeholder="Live Translate" ng-readonly="true">
        </label>
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Message">
          </label>
          <button class="button button-small">
            Send
          </button>
        </div>
    </div>
    </ion-content> -->

