chat-window {
	width: 50%;
	height: 50%;
	margin: 10%;
}

#chat-window {
	border: solid 2px grey;
	margin: 10px;
	padding: 10px;
	max-width: 50%;

}

.chatbox {
	list-style: none;
}

#textbox {
	margin: 1%;
}

#languageList {
	width: 30%;
	height: 10%;
	margin: 1%;
}